.photo_gal_item
{
	float: left;
	margin: 10px;
	width: 200px;
	height: 200px;
}

.photo_gal_item img
{
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.photo_gal_item span
{
	text-align: center;
	display: block;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.cat_list
{
}

table{ font-size: 12px;}
table a{ font-size: 12px !important;}
input {font-size:12px !important;}

.input-prepend input[type=text] {
margin-top: 0;
}



div.pagination {
	padding: 3px;
	margin: 3px;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #AAAADD;
	
	text-decoration: none; /* no underline */
	color: #000099;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #000099;

	color: #000;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
		border: 1px solid #000099;
		
		font-weight: bold;
		background-color: #000099;
		color: #FFF;
	}
	div.pagination span.disabled {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #EEE;
	
		color: #DDD;
	}
	
